.meme-editor {

    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 8px;
    background-color: var(--clr-container);
}

.editor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 30px;

    

}


.editor-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr 1fr 3fr 1fr 2fr;
    justify-content: space-around;
    margin-top: 1em;
    gap: 10px;
}



    .meme-canvas {
        display: flex;
        margin: 1em auto;
        border: 1px solid #000;
        font-family: 'Impact', sans-serif;
        width: 100%; /* Set width to 100% for responsiveness */
        max-width: 450px; /* Limit the maximum width */
        min-width: 300px;
        height: auto; 
        
    }
