
.image-gallery {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 8px;
    background-color: var(--clr-container);
    
  }
  


.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    gap: 10px;
    margin-bottom: 50px;
  }