footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 211px;
    background-color:var(--clr-footer); /* You can change this to your desired background color */
    padding: 0;
    width: 100%;
    
    margin: 0;
    text-align: center;
}

footer .logo-footer img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    color: var(--clr-text);
    margin: 0;
}