
/* pallet*/
:root {
 --clr-nav:rgba(255, 127, 0, 1);
 --clr-share-btn:rgba(255, 127, 0, 1);
 --clr-footer:rgba(255, 127, 0, 1);
 --clr-btn: rgba(255, 255, 255, 1);
 --clr-text:#FFFFFF;
 --clr-container:  rgba(227, 227, 227, 1)



}